{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Popular Computer Institute</title>
</head>
<body>
    <header>
        <h1>Welcome to Popular Computer Institute</h1>
        <br>
        <div id="right-sidebar">
            <a href="{% url 'admission_form_view' %}" id="admission-form-link">Admission Form</a>
        </div>
        <div class="login-container">
            <h2><a href="{% url 'login_view' %}">Login</a></h2>
        </div>
    </header>
    <nav>
        <ul class="layout">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#facilities">Facilities</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
    </nav>
    <div id="sidebar">
    <img src="{% static 'popular.jpg' %}" alt="Overview of lab" class"sidebar-image">
    </div>
<main>
    <section id="home">
        <h2>About Us</h2>
        <p>
            Welcome to Popular Computer Institute, a leading institution dedicated to providing high-quality 
            computer education and training. With our state-of-the-art facilities, experienced instructors,
             and comprehensive course offerings, we strive to empower our students with the knowledge and skills
              required to thrive in the rapidly evolving field of technology.
        </p>
        <p>
            At Popular Computer Institute, we believe in a hands-on approach to learning. Our courses are 
            designed to be practical and industry-relevant, enabling students to gain real-world experience
             and prepare for successful careers in the IT industry.
        </p>
        <p>
            Our team of passionate and knowledgeable instructors are industry professionals with extensive
         expertise in their respective domains. They are committed to providing an engaging and supportive 
         learning environment, ensuring that each student receives personalized attention and guidance
          throughout their educational journey.
        </p>
        <p>
            Join us at Popular Computer Institute and embark on an exciting learning experience that 
            will equip you with the necessary tools to achieve your goals in the world of technology.
        </p>
    </section>
    <section id="courses">
        <h2>Courses</h2>
        <p>
            At Popular Computer Institute, we offer a wide range of courses designed to meet the diverse
         needs and interests of our students. Our courses are carefully crafted to provide both beginners
          and advanced learners with the necessary knowledge and practical skills in various areas of 
          computer science and technology.
        </p>
        <p>
            <strong>Some of our popular courses include:</strong>
            <ul class="course">
            <li>Introduction to Programming
            <li>Web Development Fundamentals
            <li>Python</li>
            <li>Operating System</li>
            <li>Computer Networking</li>
            </ul>
        </p>
        <p>
            Our courses are taught by experienced professionals who are passionate about 
            sharing their knowledge and expertise. We provide a supportive learning environment
             where students can engage in hands-on projects and gain real-world experience.
        </p>
        <p>Join us at Popular Computer Institute and embark on a learning journey that will equip
             you with the skills and confidence to excel in the world of technology.
        </p>
    </section>
    <section id="facilities">
        <h2>Facilities</h2>
        <p>At Popular Computer Institute, we strive to provide a conducive learning environment 
        with top-notch facilities to enhance the educational experience of our students.
        </p> 
        <p><Strong>Our state-of-the-art facilities include:</Strong>

      <p>
        <ul class="facilities">
        <li>Modern computer labs equipped with the latest hardware and software
        <li>Dedicated high-speed internet connectivity for seamless online research and learning
        <li>Comfortable and well-equipped classrooms with audio-visual aids
       <li>A library stocked with a wide range of books, e-books, and reference materials
        <li>Practical workshops and hands-on training sessions
        <li>Access to industry-standard tools and technologies
        <li>Supportive and knowledgeable faculty to guide students throughout their learning journey
        </ul>
            <p>
                With these facilities, we ensure that our students have the necessary resources to
             excel in their studies and gain practical skills that are relevant to the industry's demands.
            </p>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <p>If you have any inquiries or would like to get in touch with us, please feel free to contact 
            our team. We are here to assist you.
        </p>

    <p><strong>can reach us using the following contact details:</strong><br>

        Phone: +919628120283 <br>
        Email: info@popularcomputerinstitute.com <br>
        Address: Bhuteshwar Nath Mandir,Jamuhai,Jaunpur, Uttar Pradesh(India) <br>
        Alternatively, you can fill out the contact form, and we will get back to you as soon as possible. <br>
        </p>
    </section>
</main>
<footer>
    <p>&copy; 2023 Popular Computer Institute. All rights reserved.</p>
  </footer>
</body>
</html>
