{% extends 'staff_home_template.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Update Attendance</h4>
                </div>
                <div class="card-body">
                    <form id="updateAttendanceForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="subject">Select Subject:</label>
                            <select class="form-control" id="subject" name="subject">
                                {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="session_year">Select Session Year:</label>
                            <select class="form-control" id="session_year" name="session_year">
                                {% for session_year in session_years %}
                                <option value="{{ session_year.id }}">{{ session_year.session_start_year }}-{{ session_year.session_end_year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="attendance_date">Select Attendance Date:</label>
                            <select class="form-control" id="attendance_date" name="attendance_date"></select>
                        </div>
                        <div class="form-group">
                            <label>Attendance Details:</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="attendance_details">
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Update Attendance</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'update_attendance.js' %}"></script>
{% endblock %}
